.list {
  list-style-type: square;
}

.horizontal_menu {
  list-style-type: none;
  margin: 0;
  border: 2px solid red;
  font size: 0;
}

.horizontal_menu_line {
  color: #116493;
  display: inline-block;
  margin: 0;
  border: 2px solid red;
  font-size: 12;
}
