/*p {
  font-size: 12px;
}
p {
  font-size: 40px;
}
*/

/*#p1 {
  font-size: 20px;
}
#p2 {
  font-size: 10px;
}
*/

/*
p {
  background-color: yellow;
}
*/

/*div {
  background-color: blue;
}
#id {
  background-color:red;
}
.class {
  background-color: green;
}
*/
