table {
  border-collapse: collapse;
  text-align: center;
}

th {
  background-color: navy;
  font-weight: bold;
  color: white;
}

tbody tr:nth-child(2n+2) {
  background-color: #95c1fb;
}

/*tbody tr:nth-child(3n+1) {
  background-color: blue;
}*/
